ul.breadcrumb {
  list-style: none;
  padding:5px;
  margin:0;
}

ul.breadcrumb li {
  display: inline;
  font-family: Helvetica, sans-serif;
  font-size:16px;
}

ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

ul.breadcrumb li > a {
  color:var(--r-link-color);
}

ul.breadcrumb li > a:hover {
  color:var(--r-link-color-hover);
}
